*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.loader{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #00edff);
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(100deg);   
    }
    70%{
       transform: rotate(500deg); 
    }
    100%{
        transform: rotate(720deg);
    } 
}

.loader:before{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #222;
    border-radius: 50%;
    z-index: 2;
}
.loader:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #00edff);
    border-radius: 50%;
    z-index: 1;
    filter: blur(30px)
}